@model CourseDetailVM

@{
    ViewData["Title"] = "Details";
  
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Name
        </dt>
        <dd class = "col-sm-10">
            @Model.Course.Name
        </dd>
        <dt class = "col-sm-2">
           Description
        </dt>
        <dd class = "col-sm-10">
            @Model.Course.Description
        </dd>
        <dt class="col-sm-2">
            Lecturer Name
        </dt>
        <dd class="col-sm-10">
            @Model.Course.Lecturer
        </dd>
        <dt class="col-sm-2">
            Lecturer Position
        </dt>
        <dd class="col-sm-10">
            @Model.Course.LecturerEnum
        </dd>
        <dt class = "col-sm-2">
           Quota
        </dt>
        <dd class = "col-sm-10">
            @Model.Course.Quota
        </dd>
        <dt class = "col-sm-2">
           Price
        </dt>
        <dd class = "col-sm-10">
            @Model.Course.Price
        </dd>
        <dt class="col-sm-2">
           Start Date
        </dt>
        <dd class="col-sm-10">
            @Model.Course.StartDate
        </dd>
        <dt class="col-sm-2">
          End Date
        </dt>
        <dd class="col-sm-10">
            @Model.Course.EndDate 
        </dd>
        <dt class="col-sm-2">
            Categories
        </dt>
        <dd class="col-sm-10">
            @foreach (var category in @Model.Categories)
            {
                <span class="badge bg-secondary">@category.Name</span>
            }
        </dd>
        <dt class="col-sm-2">
            Course Files
        </dt>
        <dd class="col-sm-10">
            @foreach (var file in @Model.Course.CourseFiles)
            {
                <span class="badge bg-info  ">@file.FileURL</span>
                <br/>
            }
        </dd>
        <dt class="col-sm-2">
           User Id
        </dt>
        <dd class="col-sm-10">
            @Model.userId
        </dd>
        <dd class="col-sm-10">
           
            <form asp-action="DetailsRequest"
                  asp-route-id="@Model.Course.Id">
                @if (@Model.IsRequested == true)
                {
                <button type="submit" class="btn btn-danger">
                    Vazgeç
                </button>
                }else{
                     <button type="submit" class="btn btn-danger">
                    Request
                </button>
                }
            </form>
           
            
           
           
          @*<form asp-action="DetailsAccepted"
                  asp-route-id="@Model.Course.Id">
                <button type="submit" class="btn btn-danger">
                  Request
                </button>
            </form>
            <form asp-action="DetailsCompleted"
                  asp-route-id="@Model.Course.Id">
                <button type="submit" class="btn btn-danger">
                    Complete
                </button>
            </form>*@
        </dd>
    </dl>
  
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Course.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
